@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.page-content-article,
.post.operation,
.operation-nav,
.post.component,
.post.history,
.history-nav,
.component-nav,
.post.type,
.type-nav {
  padding-inline: 1.5rem;
  max-width: 1200px;
  margin-inline: auto;
}

.breadcrumb {
  position: sticky;
  top: 4rem;
  background-color: #263238;
  width: fit-content;
  border-radius: 25px;
  padding: 0.5125rem 1rem;
  margin-block: 5px 0;
  margin-inline: auto; /* centers horizontally */
  border-bottom: 2px solid #000000;
  text-align: center;
  color: white;
  font-size: clamp(0.8125rem, 2vw, 1rem);
  z-index: 100;
}

@media (width < 992px) {
  .breadcrumb {
    top: 5rem;
  }
}
/* .post.operation, */
/* .post.component, */
/* .post.history { */
/*   padding-top: 2rem; */
/* } */
